.dropdown {
    display: none;
}
.navLink {
    cursor: pointer;
}

@media (max-width: 500px){
    .dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    .dropdown > label {
        width: 1.3em;
        height: 0.1em;
        background-color: #f4f4f4;
        margin-left: 15px;
        position: absolute;
        cursor: pointer;
    }
    .dropdown > label::before, label::after{
        content: '';
        width: 1.3em;
        height: 0.1em;
        background-color: #f4f4f4;
        position: absolute;
        display: block;
        transition: all 0.4s var(--animation__curve);
    }
    .dropdown > label::before {
        top: -6px;
        left: 0px;
        transform-origin: left top;
        transform: rotatez(0deg);
    }
    .dropdown > label::after {
        top: 6px;
        left: 0px;
        transform-origin: left bottom;
        transform: rotatez(0deg);
    }
    
    .mobile__btn:checked ~ label {
        background-color: transparent;
    }
    .mobile__btn:checked ~ label::before{
        transform: rotatez(41deg);
    } 
    .mobile__btn:checked ~ label::after{
        transform: rotatez(-41deg);
    }

    .krabbypatty {
        height: 1.3rem;
        width: 2rem;
        position: absolute;
        left: 15px;
        top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .krabbypatty > div {
        width: 1.3em;
        height: 0.1em;
        background-color: #f4f4f4;
        display: block;
    }
    



    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        width: 100vw;
    }
    .menu > .navLink {
        margin: 10px auto;
        /* padding: 0.5rem 0.1rem; */
    }
    /* .menu > .navLink:not(:nth-last-child(1)){
        border-bottom: 1px solid #f4f4f4;
    } */
}