:root{
    --animation__curve: cubic-bezier(0.22, 1, 0.36, 1);
}

header {
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.3s;
}

.navbar {
    background-color: transparent;
    position: fixed;
}
.active {
    background-color: #424348;
    position: fixed;
}

.mobile__btn {
    display: none;
}

.header__navItems {
    height: 100%;
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    padding: 0 20px !important;
    /* background-color: tomato; */
}
.header__navItems > li {
    list-style-type: none;
}
.header__navItems > li > a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}
.header__navItems > li > a:hover {
    color: #d37462;
    transition: 0.2s;
}
.header__navItems > li > a:focus {
    color: #db504a;
}

@media (max-width: 850px) {
    .header__navItems{
        width: 500px;
        font-size: smaller;
        justify-content: space-evenly;
    }
}
@media (max-width: 500px) {
    header {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    header > label {
        width: 1.3em;
        height: 0.1em;
        background-color: #f4f4f4;
        margin-left: 15px;
        position: absolute;
        cursor: pointer;
    }
    header > label::before, label::after{
        content: '';
        width: 1.3em;
        height: 0.1em;
        background-color: #f4f4f4;
        position: absolute;
        display: block;
        transition: all 0.4s var(--animation__curve);
    }
    header > label::before {
        top: -6px;
        left: 0px;
        transform-origin: left top;
        transform: rotatez(0deg);
    }
    header > label::after {
        top: 6px;
        left: 0px;
        transform-origin: left bottom;
        transform: rotatez(0deg);
    }

    .header__navItems {
        display: none;
    }

    .mobile__btn:checked ~ label {
        background-color: transparent;
    }
    .mobile__btn:checked ~ label::before{
        transform: rotatez(41deg);
    } 
    .mobile__btn:checked ~ label::after{
        transform: rotatez(-41deg);
    }
}