:root{
    --animation__curve: cubic-bezier(0.22, 1, 0.36, 1);
}

nav {
    height: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.5s;
    z-index: 200;
}

.navbar {
    background-color: transparent;
    position: fixed;
}
.active {
    background-color: #424348;
    position: fixed;
    z-index: 200;
}

.mobile__btn {
    display: none;
}

.header__navItems {
    height: 100%;
    width: 100%;
    max-width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    text-align: center;
    padding: 0 20px !important;
    /* background-color: tomato; */
}
/* .header__navItems > li {
    list-style-type: none;
} */

.navLink {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}
.navLink:hover {
    color: #d37462;
    transition: 0.2s;
}
.navLink:focus {
    color: #db504a;
}
.header__navItems > .activeLink {
    color:#db504a
}

@media (max-width: 850px) {
    .header__navItems{
        width: 500px;
        font-size: smaller;
        justify-content: space-evenly;
    }
}
@media (max-width: 500px) {
    nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .header__navItems {
        display: none;
    }
}