@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.app {
  text-align: center;
  background-color: #f4f4f4;
  font-family: 'Montserrat';
  font-weight: 500;
}

.header__navItems > .smoothscroll {
  color:#db504a
}